<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Externally Funded Project</title>
    <link rel="stylesheet" href="StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/0cuc5nq39d2loqg/bootstrap-tokenfield.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
    </div>
    <section id="job-posting-area" class="py-5">
        <div class="container">
            <div class="job-posting-wrapper mx-auto p-3">
    <h1 class="h1">Hello <%= username %>!</h1>
    <form action="/ExternallyFundedProject" method="POST">
        <div class="form-group">
        <% if (Principal && Principal.length > 0) { %>
        <% Principal.forEach(function(Principal) { %>
        <label for="Principal"><h1><%= Principal %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Principal Name yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Principal" placeholder="Name of Principal Investigator/Co-PI" name="Principal">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/ExternallyFundedProject" method="POST">
        <div class="form-group">
        <% if (CropEXT && CropEXT.length > 0) { %>
            <% console.log("Type of CropEXT:", typeof CropEXT); %>
        <% CropEXT.forEach(function(CropEXT) { %>
        <label for="CropEXT"><h1><%= CropEXT %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Crop yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="CropEXT" placeholder="Name of the Crop" name="CropEXT">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/ExternallyFundedProject" method="POST">
        <div class="form-group">
        <% if (ResearchEXT && ResearchEXT.length > 0) { %>
            <% console.log("Type of ResearchEXT:", typeof ResearchEXT); %>
        <% ResearchEXT.forEach(function(ResearchEXT) { %>
        <label for="ResearchEXT"><h1><%= ResearchEXT %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Title of Research yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="ResearchEXT" placeholder="Title of Research" name="ResearchEXT">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>




    <h2 class="h2OBJ">Experiment</h2>

    








    <% for (let i = 0; i < Math.max(ExecutionTEXT.length, DurationTEXT.length, DataDTEXT.length); i++) { %>
        <h5 class="Th5">Topic: <%= i < DataDTEXT.length ? DataDTEXT[i] : '' %></h5>
        <div class="TD TDfirst">
            <table>
                <tr>
                    <th>Experiment Sub-Title</th>
                    <th>Year Of Execution</th>
                    <th>Duration</th>
                </tr>
                <tr>
                    <td data-heading="Experiment Sub-Title"><%= i < DataDTEXT.length ? DataDTEXT[i] : '' %></td>
                    <td data-heading="Year Of Execution"><%= i < ExecutionTEXT.length ? ExecutionTEXT[i] : '' %></td>
                    <td data-heading="Duration"><%= i < DurationTEXT.length ? DurationTEXT[i] : '' %></td>

                </tr>
            </table>
        </div>   
        
        <% for (let j = i; j < Math.max(TCEXT.length, blocksEXT.length); j++) { %>
        <div class="TD TDfirst">
            <table>
                <tr>
                    <th>Treatment Combination</th>
                </tr>
                <tr>
                    <td data-heading="Treatment Combination"><%= j < TCEXT.length ? TCEXT[j] : '' %></td>

                </tr>
            </table>
        </div>    
        <div class="TD TDsecond">
            <div class="form-group">
                <table  class="tablewidth">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>Mean</th>
                        <th>R2</th>
                        <th>Mean</th>
                        <th>R3</th>
                        <th>Mean</th>
                    </tr>
                    <% if (blocksEXT && Array.isArray(blocksEXT) && j < blocksEXT.length) { %>
                        <% blocksEXT[j].forEach(function(item, index) { %>
                            <tr>
                                <td data-heading="Treatment Details">
                                    <div id="treatment-details-div">
                                        <%= item.extendEXT %>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR1 = 0; %>
                                        <% if (item.R1EXT && Array.isArray(item.R1EXT)) { %>
                                            <% item.R1EXT.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR1 += parseInt(value); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR1 = item.R1EXT ? sumR1 / item.R1EXT.length : 0; %>
                                    <%= meanR1.toFixed(2); %>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR2 = 0; %>
                                        <% if (item.R2EXT && Array.isArray(item.R2EXT)) { %>
                                            <% item.R2EXT.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR2 = sumR2+ parseInt(value); %>
                                                <% console.log(value+"     wkdjbck"); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR2 = item.R2EXT ? sumR2 / item.R2EXT.length : 0; %>
                                    <%= meanR2.toFixed(2); %>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR3 = 0; %>
                                        <% if (item.R3EXT && Array.isArray(item.R3EXT)) { %>
                                            <% item.R3EXT.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR3 += parseInt(value); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR3 = item.R3EXT ? sumR3 / item.R3EXT.length : 0; %>
                                    <%= meanR3.toFixed(2); %>
                                </td>
                    
                            </tr>
                        <% }); %>
                    <% } %>
                    
                </table>
            </div>
        </div>
        
        
        <% } %>
        <% } %>
    

        
































    <form action="/ExternallyFundedProject" method="POST" > 
        <div class="TD TDfirst">
        <table>
        <div class="form-group">
            <tr>
                <th>Experiment Sub-Title </th>
                <th>Year Of Execution</th>
                <th>Duration</th>
            </tr>
            <% for (let i = 0; i < Math.max(ExecutionTEXT.length, DurationTEXT.length, DataDTEXT.length); i++) { %>
               
                
                <% } %>
                
                
                
                <tr>
                    <td>
                        <textarea id="textarea" placeholder="Sub-Title if Experiment" name="DataDTEXT"></textarea>
                        </td>
                    <td><input type="text" placeholder="Year Of Execution" name="ExecutionTEXT"></td>
                    <td><input type="text" placeholder="Duration" name="DurationTEXT"></td>
                </tr>
    </div>
    </table>
</div>

<button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button>
</form>

<form action="/ExternallyFundedProject" method="POST" > 
<div class="TD TDfirst">
<table>
    <div class="form-group">
            <tr>
                <td><input class="TrCmb" type="text" placeholder="Treatment Combination" name="TCEXT"></td>
            </tr>
</div>
</table>
</div>

        <div class="TD TDsecond">
            <table id="dataTable">
                <div class="form-group">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>R2</th>
                        <th>R3</th>
                    </tr>
                    
                    
                    
                    <tr>
                        <td>
                            <input class="elong" type="text" placeholder="Extend" name="extendEXT[]">
                            <!-- <textarea id="multiline-inpt" placeholder="Treatment Details" name="TreatmentDetailsP" rows="10" cols="20"></textarea> -->
                        </td>                        
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R1EXT[0][]">
                            </div>
                                <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                            </td>
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R2EXT[0][]">
                            </div>
                        <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R3EXT[0][]">
                            </div>
                                <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        
                    </tr>
                    
                </div>
            </table>
            <button class="btn btn-warning mt-4" type="button" onclick="addRow()">Add Row +</button>
            <button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button>
        </div>

    </form>




    <div class="TD TDsecond">
        <button id="job-post-button" class="btn btn-danger mt-3" type="submit">
        <a style="color: white;" href="<%= exportUrl %>">Export Data to Excel</a>
        </button>
        </div>
        <br>





    




    <script>
        function addInput(button) {
    const parentDiv = button.parentNode;
    const inputs = parentDiv.querySelectorAll("input[type='text']");
    const newInput = inputs[inputs.length - 1].cloneNode();
    newInput.value = "";

    // Apply flexbox styling to center the new input field within its parent container
    const flexContainer = document.createElement("div");
    flexContainer.style.display = "flex";
    flexContainer.style.justifyContent = "center";
    flexContainer.appendChild(newInput);

    parentDiv.insertBefore(flexContainer, button);
}

        function addRow() {
    const table = document.getElementById("dataTable");
    const newRow = table.insertRow(-1); // Insert a new row at the end of the table
    const firstRow = table.rows[1]; // Get the reference to the first row

    // Clone each cell from the first row and append to the new row
    for (let i = 0; i < firstRow.cells.length; i++) {
        const newCell = newRow.insertCell(i);
        const cell = firstRow.cells[i];
        const input = cell.querySelector("input[type='text']");
        const newInput = input.cloneNode();
        newInput.value = ""; // Clear the value of the new input
        // Update the name attribute to ensure uniqueness
        newInput.setAttribute("name", input.getAttribute("name").replace("[0]", `[${table.rows.length - 2}]`));

        // Apply flexbox styling to center the input field
        const flexContainer = document.createElement("div");
        flexContainer.style.display = "flex";
        flexContainer.style.justifyContent = "center";
        flexContainer.appendChild(newInput);
        newCell.appendChild(flexContainer);

        if (i > 0) { // Add button only for R1, R2, and R3 cells
            const button = document.createElement("button");
            button.textContent = "+";
            button.setAttribute("type", "button");
            button.setAttribute("class", "btn btn-warning mt-4"); 
            button.setAttribute("onclick", "addInput(this)");
            newCell.appendChild(button);
        }
    }
}

    </script>















    <form action="/ExternallyFundedProject" method="POST">
        <div class="form-group">
        <% if (ObjectivesEXT && ObjectivesEXT.length > 0) { %>
            <% console.log("Type of ObjectivesEXT:", typeof ObjectivesEXT); %>
        <% ObjectivesEXT.forEach(function(ObjectivesEXT) { %>
        <label for="ObjectivesEXT"><h1><%= ObjectivesEXT %></h1></label>
        <% }); %> 
        <% } else { %>
            <p>You haven't added any Objectives yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="ObjectivesEXT" placeholder="Objectives" name="ObjectivesEXT">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/ExternallyFundedProject" method="POST">
        <div class="form-group">
        <% if (TreatmentEXT && TreatmentEXT.length > 0) { %>
            <% console.log("Type of TreatmentEXT:", typeof TreatmentEXT); %>
        <% TreatmentEXT.forEach(function(TreatmentEXT) { %>
        <label for="TreatmentEXT"><h1><%= TreatmentEXT %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Extra details: yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="TreatmentEXT" placeholder="Extra details" name="TreatmentEXT">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    Upload Your File Here
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
        <!-- Add other form fields here -->
        <input type="hidden" name="sourcePage" value="<%= sourcePage %>">
        <input type="file" name="file">
    </div>
        <button id="job-post-button" class="btn btn-primary mt-3" type="submit">Upload File</button>
    </form>
    
   





           
            
            
            







        </div>
    </div>
</section>
</body>
<script>
    $(window).scroll(function(e){
  parallax();
});

function parallax(){
  var scrolled = $(window).scrollTop();
  $('.background').css('top',-(scrolled*0.15)+'px');
}
</script>
</html>
