<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/0cuc5nq39d2loqg/bootstrap-tokenfield.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">

</head>

<body>
    <div class="background">
    </div>
    
    <section id="job-posting-area" class="py-5">
        
        <div class="container">
            <div class="job-posting-wrapper mx-auto p-3">
    <h1 class="h1">Hello <%= username %>!</h1>
    <form action="/profile" method="POST">
        <div class="form-group">
        <% if (Advisor && Advisor.length > 0) { %>
            <% console.log("Type of Advisor:", typeof Advisor); %>
        <% Advisor.forEach(function(game) { %>
        <label for="Advisor"><h1><%= game %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Name of Advisor yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Advisor" placeholder="Name of Advisor" name="Advisor">
    </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/profile" method="POST">
        <div class="form-group">
        <% if (Crop && Crop.length > 0) { %>
            <% Crop.forEach(function(cropItem) { %>
                <label for="Crop"><h1><%= cropItem %></h1></label>
            <% }); %>
        <% } else { %>
            <p>You haven't added any crops yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Crop" placeholder="Name of Crop" name="Crop">
    </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/profile" method="POST">
        <div class="form-group">
        <% if (Research && Research.length > 0) { %>
            <% Research.forEach(function(Research) { %>
                <label for="Research"><h1><%= Research %></h1></label>
            <% }); %>
        <% } else { %>
            <p>You haven't added any Research yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Research" placeholder="Title of Research" name="Research">
    </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/profile" method="POST">
        <div class="form-group">
        <% if (Objectives && Objectives.length > 0) { %>
            <% Objectives.forEach(function(Objectives) { %>
                <label for="Objectives"><h1><%= Objectives %></h1></label>
                <br>
            <% }); %>
        <% } else { %>
            <p>You haven't added any Objectives yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Objectives" placeholder="Objectives" name="Objectives">
    </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>

    <form action="/profile" method="POST">
        <div class="form-group">
            <% if (TDARR && TDARR.length > 0) { %>
                <% TDARR.forEach(function(item, index) { %>
                    <label for="TDARR"><h1><%= index + 1 %>. <%= item %></h1></label>
                    <br>
                <% }); %>
            <% } else { %>
                <p>You haven't added any TDARR yet.</p>
            <% } %>
            <input id="job-title" class="form-control" type="text" id="TDARR" placeholder="TDARR" name="TDARR">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>







    <h2 class="h2OBJ">Experiment</h2>

    








    <% for (let i = 0; i < Math.max(ExecutionT.length, DurationT.length, DataDT.length); i++) { %>
        <h5 class="Th5">Topic: <%= i < DataDT.length ? DataDT[i] : '' %></h5>
        <div class="TD TDfirst">
            <table>
                <tr>
                    <th>Experiment Sub-Title</th>
                    <th>Year Of Execution</th>
                    <th>Duration</th>
                </tr>
                <tr>
                    <td data-heading="Experiment Sub-Title"><%= i < DataDT.length ? DataDT[i] : '' %></td>
                    <td data-heading="Year Of Execution"><%= i < ExecutionT.length ? ExecutionT[i] : '' %></td>
                    <td data-heading="Duration"><%= i < DurationT.length ? DurationT[i] : '' %></td>

                </tr>
            </table>
        </div>   
        
        <% for (let j = i; j < Math.max(TC.length, blocks.length); j++) { %>
        <div class="TD TDfirst">
            <table>
                <tr>
                    <th>Treatment Combination</th>
                </tr>
                <tr>
                    <td data-heading="Treatment Combination"><%= j < TC.length ? TC[j] : '' %></td>

                </tr>
            </table>
        </div>    
        <div class="TD TDsecond">
            <div class="form-group">
                <table  class="tablewidth">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>Mean</th>
                        <th>R2</th>
                        <th>Mean</th>
                        <th>R3</th>
                        <th>Mean</th>
                    </tr>
                    <% if (blocks && Array.isArray(blocks) && j < blocks.length) { %>
                        <% blocks[j].forEach(function(item, index) { %>
                            <tr>
                                <td data-heading="Treatment Details">
                                    <div id="treatment-details-div">
                                        <%= item.extend %>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR1 = 0; %>
                                        <% if (item.R1 && Array.isArray(item.R1)) { %>
                                            <% item.R1.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR1 += parseInt(value); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR1 = item.R1 ? sumR1 / item.R1.length : 0; %>
                                    <%= meanR1.toFixed(2); %>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR2 = 0; %>
                                        <% if (item.R2 && Array.isArray(item.R2)) { %>
                                            <% item.R2.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR2 = sumR2+ parseInt(value); %>
                                                <% console.log(value+"     wkdjbck"); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR2 = item.R2 ? sumR2 / item.R2.length : 0; %>
                                    <%= meanR2.toFixed(2); %>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR3 = 0; %>
                                        <% if (item.R3 && Array.isArray(item.R3)) { %>
                                            <% item.R3.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR3 += parseInt(value); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR3 = item.R3 ? sumR3 / item.R3.length : 0; %>
                                    <%= meanR3.toFixed(2); %>
                                </td>
                    
                            </tr>
                        <% }); %>
                    <% } %>
                    
                </table>
            </div>
        </div>
        
        
        <% } %>
        <% } %>
    

        
































    <form action="/profile" method="POST" > 
        <div class="TD TDfirst">
        <table>
        <div class="form-group">
            <tr>
                <th>Experiment Sub-Title </th>
                <th>Year Of Execution</th>
                <th>Duration</th>
            </tr>
            <% for (let i = 0; i < Math.max(ExecutionT.length, DurationT.length, DataDT.length); i++) { %>
               
                
                <% } %>
                
                
                
                <tr>
                    <td>
                        <textarea id="textarea" placeholder="Sub-Title if Experiment" name="DataDT"></textarea>
                        </td>
                    <td><input type="text" placeholder="Year Of Execution" name="ExecutionT"></td>
                    <td><input type="text" placeholder="Duration" name="DurationT"></td>
                </tr>
    </div>
    </table>
    
    <button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button>
</div>
</form>

<form action="/profile" method="POST" > 
<div class="TD TDfirst">
<table>
    <div class="form-group">
            <tr>
                <td><input class="TrCmb" type="text" placeholder="Treatment Combination" name="TC"></td>
            </tr>
</div>
</table>
</div>

        <div class="TD TDsecond">
            <table id="dataTable">
                <div class="form-group">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>R2</th>
                        <th>R3</th>
                    </tr>
                    
                    
                    
                    <tr>
                        <td>
                            <input class="elong" type="text" placeholder="Extend" name="extend[]">
                            <!-- <textarea id="multiline-inpt" placeholder="Treatment Details" name="TreatmentDetailsP" rows="10" cols="20"></textarea> -->
                        </td>                        
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R1[0][]">
                            </div>
                                <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R2[0][]">
                            </div>
                        <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R3[0][]">
                            </div>
                                <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        
                    </tr>
                    
                </div>
            </table>
            <button class="btn btn-warning mt-4" type="button" onclick="addRow()">Add Row +</button>
            <button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button>
        </div>

    </form>










    


    <script>
        function addInput(button) {
    const parentDiv = button.parentNode;
    const inputs = parentDiv.querySelectorAll("input[type='text']");
    const newInput = inputs[inputs.length - 1].cloneNode();
    newInput.value = "";

    // Apply flexbox styling to center the new input field within its parent container
    const flexContainer = document.createElement("div");
    flexContainer.style.display = "flex";
    flexContainer.style.justifyContent = "center";
    flexContainer.appendChild(newInput);

    parentDiv.insertBefore(flexContainer, button);
}

        function addRow() {
    const table = document.getElementById("dataTable");
    const newRow = table.insertRow(-1); // Insert a new row at the end of the table
    const firstRow = table.rows[1]; // Get the reference to the first row

    // Clone each cell from the first row and append to the new row
    for (let i = 0; i < firstRow.cells.length; i++) {
        const newCell = newRow.insertCell(i);
        const cell = firstRow.cells[i];
        const input = cell.querySelector("input[type='text']");
        const newInput = input.cloneNode();
        newInput.value = ""; // Clear the value of the new input
        // Update the name attribute to ensure uniqueness
        newInput.setAttribute("name", input.getAttribute("name").replace("[0]", `[${table.rows.length - 2}]`));

        // Apply flexbox styling to center the input field
        const flexContainer = document.createElement("div");
        flexContainer.style.display = "flex";
        flexContainer.style.justifyContent = "center";
        flexContainer.appendChild(newInput);
        newCell.appendChild(flexContainer);

        if (i > 0) { // Add button only for R1, R2, and R3 cells
            const button = document.createElement("button");
            button.textContent = "+";
            button.setAttribute("type", "button");
            button.setAttribute("class", "btn btn-warning mt-4"); 
            button.setAttribute("onclick", "addInput(this)");
            newCell.appendChild(button);
        }
    }
}

    </script>














































































    <hr>
    <br><br>

  
    <form action="/profile" method="POST">
        <div class="form-group">
        <% if (Treatment && Treatment.length > 0) { %>
            <% Treatment.forEach(function(Treatment) { %>
                <label for="Extra Details"><h1><%= Treatment %></h1></label>
            <% }); %>
        <% } else { %>
            <p>You haven't added any Extra Details yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="Treatment" placeholder="Extra Details:" name="Treatment">
    </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
        <!-- Add other form fields here -->
        <input type="hidden" name="sourcePage" value="<%= sourcePage %>">
        <input  id="fileIN" type="file" name="file">
    </div>
        <button id="job-post-button" class="btn btn-primary mt-3" type="submit">Upload File</button>
    </form>
    
  




<!-- Add this button/link in your profile.ejs template -->
<div class="TD TDsecond">
<button id="job-post-button" class="btn btn-danger mt-3" type="submit">
<a style="color: white;" href="<%= exportUrl %>">Export Data to Excel</a>
</button>
</div>
<br>
<br>






        </div>
</div>
  </section>

</body>
<script>

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("job-post-button").addEventListener("click", function() {
            console.log("Button clicked!");
            var inputField = document.getElementById("TDARR");
            var currentValue = inputField.value.trim();

            if (currentValue !== "") {
                if (currentValue.match(/^\d+\.\s/)) {
                    var currentNumber = parseInt(currentValue.match(/^\d+/)[0]);
                    inputField.value = (currentNumber + 1) + ". ";
                } else {
                    inputField.value = "1. ";
                }
            }
        });
    });
</script>
<script>
    $(window).scroll(function(e){
  parallax();
});

function parallax(){
  var scrolled = $(window).scrollTop();
  $('.background').css('top',-(scrolled*0.15)+'px');
}
</script>






</html>
