
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCMProject</title>
    <link rel="stylesheet" href="StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/0cuc5nq39d2loqg/bootstrap-tokenfield.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
    </div>
  <section id="job-posting-area" class="py-5">
    <div class="container">
        <div class="job-posting-wrapper mx-auto p-3">
    <h1 class="h1">Hello <%= username %>!</h1>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (Faculty && Faculty.length > 0) { %>
        <% Faculty.forEach(function(Faculty) { %>
        <label for="Faculty"><h1><%= Faculty %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Faculty yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Faculty" placeholder="Name of the Faculty member" name="Faculty">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (CropRCM && CropRCM.length > 0) { %>
            <% console.log("Type of CropRCM:", typeof CropRCM); %>
        <% CropRCM.forEach(function(CropRCM) { %>
        <label for="CropRCM"><h1><%= CropRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite CropRCM yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="CropRCM" placeholder="Name of the Crop" name="CropRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (ResearchRCM && ResearchRCM.length > 0) { %>
            <% console.log("Type of ResearchRCM:", typeof ResearchRCM); %>
        <% ResearchRCM.forEach(function(ResearchRCM) { %>
        <label for="ResearchRCM"><h1><%= ResearchRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Title of Research yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="ResearchRCM" placeholder="Title of Research" name="ResearchRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>












    <h2 class="h2OBJ">Experiment</h2>

    








    <% for (let i = 0; i < Math.max(ExecutionTRCM.length, DurationTRCM.length, DataDTRCM.length); i++) { %>
        <h5 class="Th5">Topic: <%= i < DataDTRCM.length ? DataDTRCM[i] : '' %></h5>
        <div class="TD TDfirst">
            <table>
                <tr>
                    <th>Experiment Sub-Title</th>
                    <th>Year Of Execution</th>
                    <th>Duration</th>
                </tr>
                <tr>
                    <td data-heading="Experiment Sub-Title"><%= i < DataDTRCM.length ? DataDTRCM[i] : '' %></td>
                    <td data-heading="Year Of Execution"><%= i < ExecutionTRCM.length ? ExecutionTRCM[i] : '' %></td>
                    <td data-heading="Duration"><%= i < DurationTRCM.length ? DurationTRCM[i] : '' %></td>

                </tr>
            </table>
        </div>   
        
        <% for (let j = i; j < Math.max(TCRCM.length, blocksRCM.length); j++) { %>
        <div class="TD TDfirst">
            <table>
                <tr>
                    <th>Treatment Combination</th>
                </tr>
                <tr>
                    <td data-heading="Treatment Combination"><%= j < TCRCM.length ? TCRCM[j] : '' %></td>

                </tr>
            </table>
        </div>    
        <div class="TD TDsecond">
            <div class="form-group">
                <table  class="tablewidth">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>Mean</th>
                        <th>R2</th>
                        <th>Mean</th>
                        <th>R3</th>
                        <th>Mean</th>
                    </tr>
                    <% if (blocksRCM && Array.isArray(blocksRCM) && j < blocksRCM.length) { %>
                        <% blocksRCM[j].forEach(function(item, index) { %>
                            <tr>
                                <td data-heading="Treatment Details">
                                    <div id="treatment-details-div">
                                        <%= item.extendRCM %>
                                    </div>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR1 = 0; %>
                                        <% if (item.R1RCM && Array.isArray(item.R1RCM)) { %>
                                            <% item.R1RCM.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR1 += parseInt(value); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR1 = item.R1RCM ? sumR1 / item.R1RCM.length : 0; %>
                                    <%= meanR1.toFixed(2); %>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR2 = 0; %>
                                        <% if (item.R2RCM && Array.isArray(item.R2RCM)) { %>
                                            <% item.R2RCM.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR2 = sumR2+ parseInt(value); %>
                                                <% console.log(value+"     wkdjbck"); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR2 = item.R2RCM ? sumR2 / item.R2RCM.length : 0; %>
                                    <%= meanR2.toFixed(2); %>
                                </td>
                                <td>
                                    <div style="display: flex;">
                                        <% let sumR3 = 0; %>
                                        <% if (item.R3RCM && Array.isArray(item.R3RCM)) { %>
                                            <% item.R3RCM.forEach(function(value) { %>
                                                <%= value %><br>
                                                <% sumR3 += parseInt(value); %>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </td>
                                <td data-heading="Mean">
                                    <% let meanR3 = item.R3RCM ? sumR3 / item.R3RCM.length : 0; %>
                                    <%= meanR3.toFixed(2); %>
                                </td>
                    
                            </tr>
                        <% }); %>
                    <% } %>
                    
                </table>
            </div>
        </div>
        
        
        <% } %>
        <% } %>
    

        
































    <form action="/RCMProject" method="POST" > 
        <div class="TD TDfirst">
        <table>
        <div class="form-group">
            <tr>
                <th>Experiment Sub-Title </th>
                <th>Year Of Execution</th>
                <th>Duration</th>
            </tr>
            <% for (let i = 0; i < Math.max(ExecutionTRCM.length, DurationTRCM.length, DataDTRCM.length); i++) { %>
               
                
                <% } %>
                
                
                
                <tr>
                    <td>
                        <textarea id="textarea" placeholder="Sub-Title if Experiment" name="DataDTRCM"></textarea>
                        </td>
                    <td><input type="text" placeholder="Year Of Execution" name="ExecutionTRCM"></td>
                    <td><input type="text" placeholder="Duration" name="DurationTRCM"></td>
                </tr>
    </div>
    </table>
</div>

<button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button>
</form>

<form action="/RCMProject" method="POST" > 
<div class="TD TDfirst">
<table>
    <div class="form-group">
            <tr>
                <td><input class="TrCmb" type="text" placeholder="Treatment Combination" name="TCRCM"></td>
            </tr>
</div>
</table>
</div>

        <div class="TD TDsecond">
            <table id="dataTable">
                <div class="form-group">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>R2</th>
                        <th>R3</th>
                    </tr>
                    
                    
                    
                    <tr>
                        <td>
                            <input class="elong" type="text" placeholder="Extend" name="extendRCM[]">
                            <!-- <textarea id="multiline-inpt" placeholder="Treatment Details" name="TreatmentDetailsP" rows="10" cols="20"></textarea> -->
                        </td>                        
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R1RCM[0][]">
                            </div>
                                <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R2RCM[0][]">
                            </div>
                        <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        <td class="put">
                            <div style="display: flex; justify-content: center;">
                                <input type="text" placeholder="R11" name="R3RCM[0][]">
                            </div>
                                <button class="btn btn-warning mt-4" type="button" onclick="addInput(this)">+</button>
                        </td>
                        
                    </tr>
                    
                </div>
            </table>
            <button class="btn btn-warning mt-4" type="button" onclick="addRow()">Add Row +</button>
            <button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button>
        </div>

    </form>


    <div class="TD TDsecond">
        <button id="job-post-button" class="btn btn-danger mt-3" type="submit">
        <a style="color: white;" href="<%= exportUrl %>">Export Data to Excel</a>
        </button>
        </div>
        <hr>







    

    <script>
        function addInput(button) {
    const parentDiv = button.parentNode;
    const inputs = parentDiv.querySelectorAll("input[type='text']");
    const newInput = inputs[inputs.length - 1].cloneNode();
    newInput.value = "";

    // Apply flexbox styling to center the new input field within its parent container
    const flexContainer = document.createElement("div");
    flexContainer.style.display = "flex";
    flexContainer.style.justifyContent = "center";
    flexContainer.appendChild(newInput);

    parentDiv.insertBefore(flexContainer, button);
}

        function addRow() {
    const table = document.getElementById("dataTable");
    const newRow = table.insertRow(-1); // Insert a new row at the end of the table
    const firstRow = table.rows[1]; // Get the reference to the first row

    // Clone each cell from the first row and append to the new row
    for (let i = 0; i < firstRow.cells.length; i++) {
        const newCell = newRow.insertCell(i);
        const cell = firstRow.cells[i];
        const input = cell.querySelector("input[type='text']");
        const newInput = input.cloneNode();
        newInput.value = ""; // Clear the value of the new input
        // Update the name attribute to ensure uniqueness
        newInput.setAttribute("name", input.getAttribute("name").replace("[0]", `[${table.rows.length - 2}]`));

        // Apply flexbox styling to center the input field
        const flexContainer = document.createElement("div");
        flexContainer.style.display = "flex";
        flexContainer.style.justifyContent = "center";
        flexContainer.appendChild(newInput);
        newCell.appendChild(flexContainer);

        if (i > 0) { // Add button only for R1, R2, and R3 cells
            const button = document.createElement("button");
            button.textContent = "+";
            button.setAttribute("type", "button");
            button.setAttribute("class", "btn btn-warning mt-4"); 
            button.setAttribute("onclick", "addInput(this)");
            newCell.appendChild(button);
        }
    }
}

    </script>









































    
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (ObjectivesRCM && ObjectivesRCM.length > 0) { %>
            <% console.log("Type of ObjectivesRCM:", typeof ObjectivesRCM); %>
        <% ObjectivesRCM.forEach(function(ObjectivesRCM) { %>
        <label for="ObjectivesRCM"><h1><%= ObjectivesRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Objectives yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="ObjectivesRCM" placeholder="Objectives" name="ObjectivesRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (TreatmentRCM && TreatmentRCM.length > 0) { %>
            <% console.log("Type of TreatmentRCM:", typeof TreatmentRCM); %>
        <% TreatmentRCM.forEach(function(TreatmentRCM) { %>
        <label for="TreatmentRCM"><h1><%= TreatmentRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any Extra details: yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="TreatmentRCM" placeholder="Extra details" name="TreatmentRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    Upload Your File Here
    <form action="/upload" method="POST" enctype="multipart/form-data">
         <div class="form-group">
        <!-- Add other form fields here -->
        <input type="hidden" name="sourcePage" value="<%= sourcePage %>">
        <input type="file" name="file">
        <button id="job-post-button" class="btn btn-primary mt-3" type="submit">Upload File</button>
    </form>





            </div>
            </div>
        </section>
</body>
<script>
    $(window).scroll(function(e){
  parallax();
});

function parallax(){
  var scrolled = $(window).scrollTop();
  $('.background').css('top',-(scrolled*0.15)+'px');
}
</script>
</html>
